<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <script type="module" src="/static/js/auth.js"></script>

</head>
<body>

<h1>Добро пожаловать</h1>

<p>Выберите действие:</p>

<ul>
    <li>
        <a href="/registration">Регистрация</a>
    </li>
    <li>
        <a href="/login">Вход</a>
    </li>
    <li>
        <a href="/shortlink">Укоротить ссылку</a>
    </li>
    <li>
        <a href="/qr">Создать QR-код</a>
    </li>
</ul>

</body>
</html>
