<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Вход</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Shortify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav"
                aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title mb-3">Вход</h3>

                    <form id="loginForm" class="needs-validation" autocomplete="off" novalidate>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input name="email" type="email" class="form-control"
                                   placeholder="ivan@example.com" required>
                            <div class="invalid-feedback">
                                Введите email
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Пароль</label>
                            <input name="password" type="password" class="form-control"
                                   placeholder="ivan_password" required minlength="8">
                            <div class="invalid-feedback">
                                Введите пароль
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            Войти
                        </button>
                    </form>


                    <div id="info" class="alert alert-danger d-none" role="alert"></div>

                    <hr>
                    <div class="text-center">
                        <a href="/" class="btn btn-outline-secondary btn-sm">На главную</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script type="module" src="/static/js/auth.js" defer></script>
<script src="/static/js/bootstrap-validation.js"></script>
<script src="/static/js/login.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>
